<div id = "post-{{id}}" class = "card">
     <p class = "author-image"> Post - {{id}}</p>
    <a href="/post/{{id}}"><img class = "card-image" src = "{{thumbnail}}"></a>

    <div class = "card-body">
        

        <p class = "card-title"> Title:{{title}}</p>
        <p class = "card-description">Description:{{description}}</p>
    </div>
</div>